# Virtual environment
.venv/

# Python cache/bytecode
__pycache__/
*.py[cod]
*.pyo

# Logs / temp
*.log
*.tmp

# MNE / numpy artifacts
*.fif
*.npy
*.npz

# Jupyter
.ipynb_checkpoints/

# OS metadata
.DS_Store

# Optional: ignore dataset if you don’t want it in repo
# data/BCICIV_2a_gdf/